/**
 * Font-face
 */

@font-face {
  font-family: 'Work Sans';
  src: url('https://cdn.jsdelivr.net/gh/weiweihuanghuang/Work-Sans@v2.010/fonts/static/WOFF2/WorkSans-Regular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/weiweihuanghuang/Work-Sans@v2.010/fonts/static/WOFF/WorkSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('https://cdn.jsdelivr.net/gh/weiweihuanghuang/Work-Sans@v2.010/fonts/static/WOFF2/WorkSans-Bold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/weiweihuanghuang/Work-Sans@v2.010/fonts/static/WOFF/WorkSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
