/**
 * Tables
 */

table {
  width: 100%;
  margin-bottom: calc(var(--dh-grid) * 8);
  border-collapse: collapse;
}

th, td {
  padding: var(--dh-space-1) var(--dh-space-2);
  background-color: var(--dh-color-background-t1);
  border-bottom: var(--dh-border-default) solid var(--dh-color-background);
}
