/**
 * Utilities
 */

.primary {
  font-family: var(--dh-font-family-primary);
  font-feature-settings: var(--dh-font-features-primary);
}

.secondary {
  font-family: var(--dh-font-family-secondary);
  font-feature-settings: var(--dh-font-features-secondary);
}

.mie-1 {
  margin-inline-end: var(--dh-space-1);
}

.mie-2 {
  margin-inline-end: var(--dh-space-2);
}

.mie-3 {
  margin-inline-end: var(--dh-space-3);
}

.mie-4 {
  margin-inline-end: var(--dh-space-4);
}

.mie-5 {
  margin-inline-end: var(--dh-space-5);
}

.mie-6 {
  margin-inline-end: var(--dh-space-6);
}

.mie-7 {
  margin-inline-end: var(--dh-space-7);
}

.mie-8 {
  margin-inline-end: var(--dh-space-8);
}

/* */

.mis-1 {
  margin-inline-start: var(--dh-space-1);
}

.mis-2 {
  margin-inline-start: var(--dh-space-2);
}

.mis-3 {
  margin-inline-start: var(--dh-space-3);
}

.mis-4 {
  margin-inline-start: var(--dh-space-4);
}

.mis-5 {
  margin-inline-start: var(--dh-space-5);
}

.mis-6 {
  margin-inline-start: var(--dh-space-6);
}

.mis-7 {
  margin-inline-start: var(--dh-space-7);
}

.mis-8 {
  margin-inline-start: var(--dh-space-8);
}

/* */

.pie-1 {
  padding-inline-end: var(--dh-space-1);
}

.pie-2 {
  padding-inline-end: var(--dh-space-2);
}

.pie-3 {
  padding-inline-end: var(--dh-space-3);
}

.pie-4 {
  padding-inline-end: var(--dh-space-4);
}

.pie-5 {
  padding-inline-end: var(--dh-space-5);
}

.pie-6 {
  padding-inline-end: var(--dh-space-6);
}

.pie-7 {
  padding-inline-end: var(--dh-space-7);
}

.pie-8 {
  padding-inline-end: var(--dh-space-8);
}

/* */

.pis-1 {
  padding-inline-start: var(--dh-space-1);
}

.pis-2 {
  padding-inline-start: var(--dh-space-2);
}

.pis-3 {
  padding-inline-start: var(--dh-space-3);
}

.pis-4 {
  padding-inline-start: var(--dh-space-4);
}

.pis-5 {
  padding-inline-start: var(--dh-space-5);
}

.pis-6 {
  padding-inline-start: var(--dh-space-6);
}

.pis-7 {
  padding-inline-start: var(--dh-space-7);
}

.pis-8 {
  padding-inline-start: var(--dh-space-8);
}

/* */

.mie-half {
  margin-inline-end: var(--dh-space-half);
}

.mis-half {
  margin-inline-start: var(--dh-space-half);
}

.pie-half {
  padding-inline-end: var(--dh-space-half);
}

.pis-half {
  padding-inline-start: var(--dh-space-half);
}

.mis--3 {
  margin-inline-start: calc(-1 * var(--dh-space-3));
}

.mis--4 {
  margin-inline-start: calc(-1 * var(--dh-space-4));
}

.mis--5 {
  margin-inline-start: calc(-1 * var(--dh-space-5));
}

.mis--6 {
  margin-inline-start: calc(-1 * var(--dh-space-6));
}

.text-end {
  text-align: end
}

.text-start {
  text-align: start
}

@media screen and (min-width: 400px) {
  .mis-0 {
    margin-inline-start: 0
  }

  .mie-0 {
    margin-inline-end: 0
  }

  .pis-0 {
    padding-inline-start: 0
  }

  .pie-0 {
    padding-inline-end: 0
  }
}

@media screen and (min-width: 480px) {
  .mis-0 {
    margin-inline-start: 0
  }

  .mie-0 {
    margin-inline-end: 0
  }

  .pis-0 {
    padding-inline-start: 0
  }

  .pie-0 {
    padding-inline-end: 0
  }
}

@media screen and (min-width: 768px) {
  .mis-0 {
    margin-inline-start: 0
  }

  .mie-0 {
    margin-inline-end: 0
  }

  .pis-0 {
    padding-inline-start: 0
  }

  .pie-0 {
    padding-inline-end: 0
  }
}

@media screen and (min-width: 960px) {
  .mis-0 {
    margin-inline-start: 0
  }

  .mie-0 {
    margin-inline-end: 0
  }

  .pis-0 {
    padding-inline-start: 0
  }

  .pie-0 {
    padding-inline-end: 0
  }
}

@media screen and (min-width: 1280px) {
  .mis-0 {
    margin-inline-start: 0
  }

  .mie-0 {
    margin-inline-end: 0
  }

  .pis-0 {
    padding-inline-start: 0
  }

  .pie-0 {
    padding-inline-end: 0
  }
}
